<div class="col-md-9 col-lg-10 content-container">
  <!-- Основной <a class="nav-link active" aria-current="page" href="#">Регионы</a>контент страницы  -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLinkActive="active" [routerLink]="['/dictionary/regions']">Регионы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dictionary/points']">Точки присутствия</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dictionary/speeds']">Скорости портов</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dictionary/typeofports']">Типы портов</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dictionary/typeoftraffic']">Типы трафика</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dictionary/typeofclients']">Типы клиентов</a>
    </li>
  </ul>

</div>
<router-outlet></router-outlet>

