@media (min-width: 768px) {
  .navbar-container {
    position: sticky;
    top: 0;
    overflow-y: auto;


    border-radius: 0px 10px 0 0;
    height: 100vh;
  }
  .bg-light{
    background-color: #242536 !important;
  }
  .navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;


  }
  .navbar-container .navbar-collapse {
    align-items: flex-start;

    a {
      color: white !important;
    }
  }
  .navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-container .navbar-nav {

    flex-direction: column !important;
  }
  .navbar-nav > li >a {
    background: url("jpg/icon1.png") top left no-repeat;
    padding-left: 20px;
    min-width: 90px;
    //border: 1px white solid;

    span {
      display: inline-block;
      padding-left: 20px;
    }
  }
  .content-container {

  }
  .navbar-light {

  }
  .logo{
    width: 200px;
    height: 100px;
    background: url("jpg/logo.png") 30% / cover ;
  }
}

.nav-item > a:hover, .nav-item> li > a:focus {
  //background-color: #EF92A5;
  border: 1px white solid;
  text-decoration: none;
}
.active {
  //border: 1px red solid;
  background-color: #3a3b57 !important;
}
.nav-item {
  max-height: 34px;
}
.text{
  text-align: center;
  border: red 1px solid;
}
