<div class="title">
  <span class="title__text">Карточка редактирования Типа клиента</span>
  <button class="title__close btn btn-close" (click)="closeWindow()"></button>
</div>
<div class="container">
  <span class="container__text">Тип клиента</span>
  <input class="container__input" [(ngModel)]="clientTypeName">
</div>
  <div class="content">
    <button class="content__delete btn btn-warning" *ngIf="clientTypeId" (click)="confirmDelete()"> Удалить</button>
    <button class="content__add btn btn-primary" (click)="saveClient()">Сохранить</button>
    <button class="content__cancel btn btn-dark" (click)="closeWindow()"> Отмена</button>
    <div class="add-button">


  </div>
</div>
